<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--打印日志-->
<!--    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>-->
    <!--设置别名-->
    <typeAliases>
        <!--实体类所在的包名-->
        <package name="xyz.guawaz.domain"/>
    </typeAliases>

    <mappers>
        <!--name是包名，这个包中的所有mapper文件可以一次性加载-->
        <!--使用package的要求；
        1.mapper文件名称和dao接口名必须完全一样 包括大小写
        2.mapper文件和dao接口必须在同一目录
        -->
        <package name="xyz.guawaz.dao"/>
    </mappers>
</configuration>

        <!--mybatis的主配置文件，定义了数据库的配置信息和sql映射文件的位置-->